<div class="d-flex justify-content-center">
    <div class="col-11 col-sm-10 col-md-8 text-center py-5">
        {{ fields.field_image.content }}
        <p>» <b> {{ fields.field_testimonial_text.content}} </b></p>
        <h1> {{ fields.title.content }} </h1>
        <p class="pri-text"> {{ fields.field_rubriques_la_description.content }} </p>
    </div>
</div>
