@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

//font-family: 'Poppins', sans-serif;
body {
    font-family: Helvetica, Sans-Serif;
}
$col1: #4aa52c;
.pri-text{
    color: $col1;
}
.pri-bg{
    background: $col1;
}
p {
    font-size: 19px;
}
p.sm{
    font-size: 13px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.video-bg{
        background-image: url(../assets/img/baba.png);
    height: 725px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rubriques {
    .bor {
        border: 3px solid $col1;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        h4 {
            text-align: center;
            color: white;
        }
    }
}
.front-art{
    h4{
        border-left: 2px solid black;
        padding-left: 10px;
        font-size: 15px;
        line-height: 15px;
        font-weight: bold;
    }
    p{
        color: $col1;
    }
    
}
.gall{
    .thumb-big{
        height:  300px;
    }
    .thumb-sm{
        height: 150px;
    }
}
.footer{
    color: white;
    h4{
        color: white;
    }
    a{
        color: white;
    }
}
