@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  font-family: Helvetica, Sans-Serif;
  background: white !important; }

.pri-text {
  color: #4aa52c; }

.pri-bg {
  background: #4aa52c; }

@media (min-width: 576px) {
  .container {
    max-width: 668px !important; } }
@media (min-width: 768px) {
  .container {
    max-width: 1080px !important; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important; } }
.sidebar .block {
  border: none;
  background-color: transparent !important; }

p {
  font-size: 19px; }

a {
  text-decoration: none;
  transition: all .3s ease-in-out; }
  a:hover {
    text-decoration: none;
    opacity: .7;
    transition: all .3s ease-in-out; }

p.sm {
  font-size: 13px; }

h1 {
  font-size: 40px;
  font-weight: bold; }

.video-bg {
  height: 725px;
  overflow: hidden; }
  .video-bg video {
    width: 100%; }

.rubriques .bor {
  border: 3px solid #4aa52c;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .rubriques .bor h4 {
    text-align: center;
    color: white; }
  .rubriques .bor a {
    color: white; }

.testimonial img {
  display: initial; }

.staff .linkicon__text {
  display: none; }
.staff .linkicon__icon {
  color: black; }

.front-art h4 {
  border-left: 2px solid black;
  padding-left: 10px;
  font-size: 15px;
  line-height: 15px;
  font-weight: bold; }
.front-art p a {
  color: #4aa52c; }

.gall .thumb-big {
  height: 300px; }
.gall .thumb-sm {
  height: 150px; }

.footer {
  color: white; }
  .footer h4 {
    color: white; }
  .footer a {
    color: white; }

.banner-btn {
  border: 3px solid #4aa52c;
  padding: 10px 15px;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  font-weight: bold; }

.block h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0; }

.social-links .linkicon__text {
  display: none; }
.social-links li {
  display: inline-block; }
.social-links .linkicon__icon {
  color: #4aa52c; }

.contact .linkicon__icon {
  color: #4aa52c; }
.contact a {
  color: white;
  font-weight: 600; }

.slick .slick-next {
  right: 0; }
.slick .slick-prev {
  left: 0; }
.slick .slick-dots {
  bottom: 36px;
  width: 97.5%; }
  .slick .slick-dots li button:before {
    font-size: 12px;
    color: #4aa52c; }

a.readmore {
  color: white;
  font-size: 20px; }
  a.readmore:hover {
    color: rgba(255, 255, 255, 0.83); }

.more-link {
  margin: 0 auto 40px auto;
  padding: 8px 33px;
  background: #4aa52c;
  border-radius: 10px; }
  .more-link a {
    color: white;
    font-size: 20px; }
    .more-link a:hover {
      color: rgba(255, 255, 255, 0.83); }

/* MENU */
header#header {
  position: sticky;
  top: 0;
  z-index: 1; }

#header .top-navbar {
  background-color: white;
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 2; }

.top-navbar.open {
  position: fixed;
  top: 0; }

a.navbar-brand {
  margin-right: 0px; }

.right-menu {
  position: relative; }
  .right-menu .search-toggle {
    background-image: url(../images/search-solid.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 40px;
    position: absolute;
    right: 11px;
    top: 21px;
    transform: translateY(-50%);
    cursor: pointer; }
  .right-menu form {
    padding: 0 !important;
    margin: 0 !important; }
  .right-menu .search-block-form {
    position: relative; }
  .right-menu #search-block-form input {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #4aa52c; }
  .right-menu #search-block-form input.sopen {
    height: 40px;
    width: 100% !important;
    border-radius: 20px;
    background: none; }
  .right-menu #block-languagedropdownswitcher select {
    width: 76px;
    border: 2px solid #4aa52c;
    border-radius: 12px;
    font-size: 24px;
    padding: 0 15px;
    color: #4aa52c;
    height: 40px; }
  .right-menu fieldset {
    padding: 0 !important;
    margin: 0; }
  .right-menu button {
    display: none; }

#header .navigation {
  position: fixed;
  top: 100px;
  right: 105%;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 1;
  background-color: #4aa52c;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  overflow-y: auto; }

#header .navigation.open {
  right: 0;
  padding-top: 40px;
  opacity: 1; }

.top-navbar .burger-btn {
  position: absolute;
  left: 15px;
  top: 50%;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-color: #4aa52c;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 65%; }

.top-navbar .burger-btn.open {
  background-image: url(../images/arrow-left.svg);
  background-size: 50%; }

.navigation .navbar-nav {
  display: block; }

.navigation .navbar-brand {
  color: white; }

button.navbar-toggler:focus {
  outline: none; }

.navbar-toggler-icon {
  background-image: url(../images/arrow-down.svg) !important;
  background-size: 16px 24px;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: up-down;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }

@keyframes up-down {
  0% {
    background-position: center top; }
  50% {
    background-position: center bottom; }
  100% {
    background-position: center top; } }
.navbar-left .navbar {
  width: 300px;
  background-color: #4aa52c;
  padding-left: 5px;
  padding-right: 0;
  margin: 2px;
  height: 52px; }

.navbar-left .navbar-brand {
  font-size: 1rem; }

.navbar-left .navbar-brand:hover {
  color: white;
  text-decoration: underline; }

.navbar-left .nav-box {
  border: #48af26 solid 24px;
  background-color: white;
  align-items: center;
  width: max-content; }

div#profile-menu {
  position: absolute;
  top: 50px;
  background-color: #261064;
  border: 2px solid white;
  border-top: none;
  width: calc(100% + 4px);
  left: -2px;
  padding-left: 5px;
  z-index: 1; }

div#profile-menu .nav-item {
  background: linear-gradient(to right, #786b97 66.6669%, transparent 66.6666%) left top repeat-x;
  background-size: 12px 1px;
  padding: 8px 0; }

div#profile-menu .nav-link {
  color: white; }

div#profile-menu .nav-link:hover {
  text-decoration: underline; }

.navbar-left .nav-box-2 {
  background-color: #261064; }

.navigation div.you {
  width: max-content;
  height: 30px;
  right: -1%;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 10px; }

.nav-right .dropdown-menu {
  position: static !important;
  background-color: transparent;
  border: none;
  padding-left: .5rem;
  padding-top: 0; }

.nav-right .dropdown-item {
  color: #786b97;
  background: linear-gradient(to right, #786b97 66.6669%, transparent 66.6666%) left bottom repeat-x;
  background-size: 12px 1px;
  padding: 8px 0;
  text-transform: uppercase; }

.nav-right .dropdown-item:hover {
  color: white; }

.nav-right .nav-link {
  position: relative;
  display: inline-block;
  color: white;
  text-transform: uppercase; }

.nav-right .navbar {
  display: block; }

.nav-right .navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  padding-left: .5rem;
  text-transform: uppercase; }

.nav-right .nav-link:hover,
.nav-right .nav-item.show .nav-link {
  transition: padding-left 0.2s ease-in-out;
  font-weight: bold;
  color: white;
  padding-left: 38px;
  margin-right: -38px;
  top: -1px; }

.nav-right .nav-item.show .dropdown-menu {
  padding-left: 38px;
  margin-right: -38px; }

.nav-right .nav-link::before {
  content: '';
  position: absolute;
  top: 1.1rem;
  height: 2px;
  background: #da291c;
  left: 0;
  transition: width 0.2s ease-in-out;
  width: 0; }

.nav-right .nav-link:hover::before,
.nav-right .nav-item.show .nav-link::before {
  width: 20px; }

@media screen and (max-width: 992px) {
  .navbar-left .nav-box {
    width: unset; }

  .navigation .navbar-nav,
  .navbar-left .navbar-brand {
    padding-left: .5rem; }

  .navbar-left .navbar {
    width: 100%; }

  .nav-right .navbar-brand {
    font-size: 1.5rem; }

  .nav-right {
    padding-top: 50px; } }
@media screen and (max-width: 576px) {
  .nav-right .navbar-brand {
    font-size: 1.3rem; } }
.books {
  flex-direction: column; }
  .books .slick-prev {
    left: -16px; }
    .books .slick-prev:before {
      color: #4aa52c;
      font-size: 35px; }
  .books .slick-next {
    right: 0; }
    .books .slick-next:before {
      color: #4aa52c;
      font-size: 35px; }
  .books .slick-dots {
    bottom: -25px;
    width: 97.5%; }
    .books .slick-dots li button:before {
      font-size: 12px;
      color: #4aa52c; }

.gall-front img {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 1.5em 0 !important; }

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); }

.facet-item a {
  color: black;
  font-weight: bold; }
  .facet-item a:hover {
    color: #4aa52c; }

.facets-widget-links h3 {
  margin: 20px 0 15px; }

span.facet-item__value {
  margin-left: 12px;
  font-weight: bold; }

input.facets-checkbox {
  border: #4aa52c;
  height: 16px;
  width: 16px; }

.facet-item {
  margin-bottom: 12px; }

.product-detail-page .block-facets {
  background: red; }
  .product-detail-page .block-facets ul li a {
    color: black !important; }

.cbp-vm-view-list .effect {
  background: #f8f9fa !important; }

.cbp-vm-view-grid .effect .cbp-vm-cart {
  display: none;
  transition: all .5s ease-in-out; }
.cbp-vm-view-grid .effect .cbp-vm-title {
  transition: all .5s ease-in-out;
  display: block; }
.cbp-vm-view-grid .effect:hover .cbp-vm-cart {
  display: block;
  transition: all .5s ease-in-out; }
.cbp-vm-view-grid .effect:hover .cbp-vm-title {
  display: none;
  transition: all .5s ease-in-out; }

.front-add-to-cart button {
  background: none;
  color: black;
  border: none;
  padding: 30px 0 0 0;
  margin: 0;
  background-image: url("../assets/img/cart.png");
  background-repeat: no-repeat;
  background-position: center 2px;
  background-size: 29px; }
  .front-add-to-cart button:hover {
    background-color: white !important;
    color: #4aa52c; }

@keyframes pulse {
  0% {
    margin-left: 0; }
  50% {
    margin-left: 8px; }
  100% {
    margin-left: 0; } }
#block-views-block-articles-block-2 {
  border-right: 1px solid #f8f9fa !important;
  border-top: 1px solid #f8f9fa !important;
  padding: 8px;
  border-left: 3px solid #f8f9fa !important;
  border-bottom: 3px solid #f8f9fa !important; }
  #block-views-block-articles-block-2 h2 {
    font-size: 20px;
    text-align: left; }
  #block-views-block-articles-block-2 i,
  #block-views-block-articles-block-2 svg {
    font-size: 15px;
    color: #4aa52c; }
  #block-views-block-articles-block-2 a {
    color: black; }
    #block-views-block-articles-block-2 a:hover {
      color: #4aa52c; }
  #block-views-block-articles-block-2 .bg-light:hover i,
  #block-views-block-articles-block-2 .bg-light:hover svg {
    animation: pulse 1.5s infinite;
    transition: all 1.5s ease-in-out; }

.node__meta {
  width: fit-content;
  padding-top: 5px;
  border-top: 2px solid green;
  margin-bottom: 35px;
  margin-top: 18px; }
  .node__meta em {
    font-size: 14px;
    color: black;
    font-style: normal; }

.statistics-counter {
  display: none; }

.field--name-field-author .field__item {
  color: #4aa52c; }
.field--name-field-author .field__label {
  font-weight: bold; }

.top-menu {
  padding: 0; }
  .top-menu p {
    margin: 0 10px 0; }
    .top-menu p em {
      font-style: normal;
      margin-left: 5px; }
  .top-menu i,
  .top-menu svg {
    color: #4aa52c;
    font-size: 20px; }
  .top-menu a {
    margin-left: 10px; }
  .top-menu .item-list--linkicon {
    margin: 0; }
  .top-menu .linkicon__icon {
    font-size: 1.3em !important; }

a.enda-tv-btn {
  background: #4aa52c;
  color: white;
  padding: 9px 18px;
  border-radius: 11px;
  font-size: 13px;
  font-weight: bold;
  margin-right: 18px;
  line-height: 2;
  height: 40px; }
  a.enda-tv-btn:hover {
    color: #f7f7f7; }

.lang input {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid #4aa52c;
  background-image: url("../assets/img/searh.png");
  background-repeat: no-repeat;
  background-position: center right 5px;
  transition: width .3s ease-in-out;
  margin: 0; }
  .lang input:focus {
    transition: width .3s ease-in-out;
    width: 250px;
    box-shadow: none;
    border-color: #4aa52c !important; }

.gall-bg {
  position: relative; }
  .gall-bg p {
    font-size: 25px; }

.staff-sec-detail h3 {
  color: black;
  text-align: center;
  margin: 19px auto;
  font-weight: bold; }
.staff-sec-detail p {
  text-align: justify; }

.cc-img .field {
  display: flex;
  justify-content: center; }
  .cc-img .field .field__item {
    margin: 0 10px; }

.hamburger,
.hamburger.is-active {
  z-index: 1111111;
  background-color: #4aa52c;
  border-radius: 50%;
  height: 50px;
  width: 50px; }
  .hamburger:focus,
  .hamburger.is-active:focus {
    outline: none !important; }
  .hamburger .hamburger-box,
  .hamburger.is-active .hamburger-box {
    width: 34px; }
  .hamburger .hamburger-inner,
  .hamburger.is-active .hamburger-inner {
    background-color: white;
    width: 34px; }
    .hamburger .hamburger-inner:before,
    .hamburger.is-active .hamburger-inner:before {
      background-color: white;
      width: 34px; }
    .hamburger .hamburger-inner:after,
    .hamburger.is-active .hamburger-inner:after {
      width: 34px;
      background-color: white; }

.hamburger--arrowturn.is-active .hamburger-inner:before {
  transform: translate3d(8px, 0, 0) rotate(37deg) scaleX(0.7);
  width: 27px !important;
  top: -5px;
  right: 3px; }

.hamburger--arrowturn.is-active .hamburger-inner:after {
  transform: translate3d(8px, 0, 0) rotate(-37deg) scaleX(0.7);
  top: 5px;
  left: 4px;
  width: 27px !important; }

.block-commerce-cart {
  margin-right: 26px; }
  .block-commerce-cart .cart-block--link__expand {
    position: relative; }
  .block-commerce-cart .cart-block--summary__count {
    height: 20px;
    width: 20px;
    display: flex;
    background: #795548;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    top: 0;
    right: -11px;
    font-size: 14px;
    font-weight: bold; }

@media (max-width: 768px) {
  .video-bg {
    height: auto;
    min-height: 270px; }
    .video-bg h1 {
      font-size: 20px; }
    .video-bg a {
      border-width: 2px;
      font-size: 16px; }

  #block-languagedropdownswitcher select {
    width: 60px !important;
    border: 2px solid #4aa52c;
    border-radius: 20px;
    font-size: 16px !important;
    padding: 0 12px !important;
    height: 38px; }

  .search-form input {
    margin-top: 0 !important; }
    .search-form input:focus {
      transition: width .3s ease-in-out;
      width: 123px; } }
.le-reseau ul {
  margin: 0; }
  .le-reseau ul li {
    list-style-type: none;
    position: relative; }
    .le-reseau ul li:before {
      content: "";
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #4aa52c;
      position: absolute;
      left: 0;
      top: 7px; }
    .le-reseau ul li a {
      margin-left: 34px;
      color: black;
      font-size: 20px;
      font-weight: bold; }

.staff-sidebar h3:nth-of-type(2) {
  margin-top: 35px; }

.staff-origin-link a {
  font-weight: bold;
  font-size: 18px;
  color: black; }
  .staff-origin-link a:hover {
    color: #4aa52c; }

/*# sourceMappingURL=style.css.map */
