<div class="col-12 col-sm-6 mt-5 text-center staff">
    {{ fields.field_image.content }}
    <h3>{{ fields.title.content }}</h3>
    <p class="sm pri-text font-weight-bold"> {{ fields.field_designation.content }} </p>
    
</div>
