<div class="justify-content-between row top-menu" style="padding: 15px 0;">
    <div class="col-md-8 col-sm-12 d-sm-flex d-block">
        <p><i class="far fa-envelope"></i><em> {{ content.field_title[0] }} </em></p>
        <p class="d-none d-sm-block"><i class="fas fa-phone-alt"></i><em> {{ content.field_title_first_part[0] }} </em></p>
    </div>
    <div class="col-md-4 col-sm-12 d-flex  top-social social-links justify-content-sm-start justify-content-between">
        <p class="d-block d-sm-none"><i class="fas fa-phone-alt"></i><em> {{ content.field_title_first_part[0] }} </em></p>
        {{ content.field_social }}
    </div>
</div>
