<div class="justify-content-between row top-menu">
    <div class="col-md-8 col-sm-12 d-sm-flex d-block p-0">
        <p><i class="far fa-envelope"></i><em> {{ content.field_title[0] }} </em></p>
        <p class="d-none d-sm-block"><i class="fas fa-phone-alt"></i><em> {{ content.field_title_first_part[0] }} </em></p>
    </div>
    <div class="col-md-4 col-sm-12 d-flex  top-social social-links justify-content-sm-end justify-content-md-center justify-content-between">
        <p class="d-block d-sm-none mx-0"><i class="fas fa-phone-alt"></i><em> {{ content.field_title_first_part[0] }} </em></p>
        {{ content.field_social }}
    </div>
</div>
