<div class="row justify-content-center align-items-center py-5">
    <a href="{{ content.field_link.0['#url'] }}" class="btn pri-bg text-uppercase text-white">{{ content.field_link.0['#title'] }}</a>
</div>
